In [1]:
# import dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading dataset

df = pd.read_csv("/home/yash/project/interview-tasks/ARMA-Time-serise/Dataset/^NSEI.csv")

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-03-04,16339.450195,16456.000000,16133.799805,16245.349609,16245.349609,456100
1,2022-03-07,15867.950195,15944.599609,15711.450195,15863.150391,15863.150391,585400
2,2022-03-08,15747.750000,16028.750000,15671.450195,16013.450195,16013.450195,543600
3,2022-03-09,16078.000000,16418.050781,15990.000000,16345.349609,16345.349609,462200
4,2022-03-10,16757.099609,16757.300781,16447.900391,16594.900391,16594.900391,486400

In [3]:
df.info() # reading info of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.8+ KB